.section_header {
	width: 100%;
	background: #48cbe8;
	border-bottom: 17px solid #67dffa;
	padding: 45px 20px 42px;
	margin-bottom: 40px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.section_header_text {
	font-size: 27px;
	line-height: 30px;
	color: #fff;
}
.contact_form {
	max-width: 410px;
	margin: 0 auto;
	text-align: center;
	font-size: 0;
}
.input {
	display: inline-block;
	vertical-align: top;
	width: 100%;
	text-align: left;
	margin-bottom: 15px;
}
.half {
	width: 48%;
}
.half_margin {
	margin-right: 4%;
}

.label {
	position: relative;
	display: block;
}
.code {
	width: 100%;
	border: 1px solid #48cbe8;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background: #fbfcfd;
	text-align: center;
	height: 80px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
.code:before {
	content: '';
  	display: inline-block;
  	height: 100%;
  	vertical-align: middle;
}
.code_img {
	display: inline-block;
	vertical-align: middle;
	width: 90%;
}
.field .half {
	vertical-align: middle;
}
input, textarea, .placeholder {
	width: 100%;
	height: 100%;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	outline: none;
	font-family: 'fira_sanslight';
	color: #48cbe8;
	font-size: 13px;
	border: 1px solid #48cbe8;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background: #fbfcfd;
 	padding: 10px;
 	display: block;
}
textarea {
	line-height: 16px;
	padding: 10px;
}
.placeholder {
	position: absolute;
	left: 0;
	top: 0;
	text-align: left;
	border: none;
	background: transparent;
	z-index: 2;
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
	padding: 11px;
}

textarea + .placeholder:before {
	height: 0;
}


input::-webkit-input-placeholder { color: #48cbe8; font-size: 13px;}
input:-moz-placeholder {color: #48cbe8; font-size: 13px;}
textarea::-webkit-input-placeholder {line-height: 16px; color: #48cbe8; font-size: 13px;}
textarea:-moz-placeholder {line-height: 16px; color: #48cbe8; font-size: 13px;}

.button {
	font-size: 19px;
	line-height: 34px;
	padding: 0 17px;
	color: #fff;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background: #48cbe8;
	border: none;
	/*border-bottom: 1px solid #44bfdb;*/
	-webkit-box-shadow: inset 0 -2px 0 0 #3ba8c0;
	box-shadow: inset 0 -2px 0 0 #3ba8c0;
	display: inline-block;
	-webkit-transition: all linear .2s;
	transition: all linear .2s;
	outline: none;
}
.button:hover {
	background: #39acc5;
}
.button:active {
	background: #3295ab;
	-webkit-box-shadow:none !important;
	box-shadow:none !important;
}
.button_sub {
	float: left;
}
.button_res {
	float: right;
	background: #849db5;
	-webkit-box-shadow:inset 0 -2px 0 0 #687b8f;
	box-shadow:inset 0 -2px 0 0 #687b8f;
}
.button_res:hover {
	background: #6e8397;
}
.button_res:active {
	background: #4c5c6c;
}