block link
  -var selected = 'Мои работы';

extends ../layouts/main_layout.jade

block title
  title Мои работы

block content
 section.section_info.noPaddingRight
    .h2 Мои работы
    .cl.cl_works
      .work_block
        .work_block_img
          img.work_block_img_site(src='img/sites/adv.jpg', alt='')
          .img_overlay
            a.img_overlay_name(href='#') название
        a.mini_italic(href='') www.site.ru
        p.work_block_p Информация о проекте 1 превью 2 строки....
      .work_block
        .work_block_img
          img.work_block_img_site(src='img/sites/avia.jpg', alt='')
          .img_overlay
            a.img_overlay_name(href='#') название
        a.mini_italic(href='') www.site.ru
        p.work_block_p Информация о проекте 1 превью 2 строки....
      .work_block
        .work_block_img
          img.work_block_img_site(src='img/sites/fn.jpg', alt='')
          .img_overlay
            a.img_overlay_name(href='#') название
        a.mini_italic(href='') www.site.ru
        p.work_block_p Информация о проекте 1 превью 2 строки....
      .work_block
        .work_block_img
          img.work_block_img_site(src='img/sites/inter.jpg', alt='')
          .img_overlay
            a.img_overlay_name(href='#') название
        a.mini_italic(href='') www.site.ru
        p.work_block_p Информация о проекте 1 превью 2 строки....
      .work_block
        .work_block_img
          img.work_block_img_site(src='img/sites/moda.jpg', alt='')
          .img_overlay
            a.img_overlay_name(href='#') название
        a.mini_italic(href='') www.site.ru
        p.work_block_p Информация о проекте 1 превью 2 строки....
      .work_block
        .work_block_img
          img.work_block_img_site(src='img/sites/ponds.jpg', alt='')
          .img_overlay
            a.img_overlay_name(href='#') название
        a.mini_italic(href='') www.site.ru
        p.work_block_p Информация о проекте 1 превью 2 строки....
      .work_block
        .work_block_img
          img.work_block_img_site(src='img/sites/primar.jpg', alt='')
          .img_overlay
            a.img_overlay_name(href='#') название
        a.mini_italic(href='') www.site.ru
        p.work_block_p Информация о проекте 1 превью 2 строки....
      .work_block
        .work_block_img
          img.work_block_img_site(src='img/sites/prime.jpg', alt='')
          .img_overlay
            a.img_overlay_name(href='#') название
        a.mini_italic(href='') www.site.ru
        p.work_block_p Информация о проекте 1 превью 2 строки....
      .work_block
        .work_block_img
          img.work_block_img_site(src='img/sites/tender.jpg', alt='')
          .img_overlay
            a.img_overlay_name(href='#') название
        a.mini_italic(href='') www.site.ru
        p.work_block_p Информация о проекте 1 превью 2 строки....
      .work_block
        .work_block_img
          img.work_block_img_site(src='img/sites/umi.jpg', alt='')
          .img_overlay
            a.img_overlay_name(href='#') название
        a.mini_italic(href='') www.site.ru
        p.work_block_p Информация о проекте 1 превью 2 строки....
      .work_block
        .work_block_img
          img.work_block_img_site(src='img/sites/fabr.jpg', alt='')
          .img_overlay
            a.img_overlay_name(href='#') название
        a.mini_italic(href='') www.site.ru
        p.work_block_p Информация о проекте 1 превью 2 строки....
      #add_project.work_block
        a.work_block_img.work_block_img_Add(href='#popup1')
          .work_block_img_Add_text Добавить проект