address.address
  ul.menu2
    li.punkt_menu2.punkt_menu2_contacts Контакты
    li.punkt_menu2.punkt_menu2_letter
      a.punkt_menu2_a(title='demyan1411@gmail.com', href='mailto:demyan1411@gmail.com')
        span.punkt_menu2_a_span demyan1411@gmail.com
    li.punkt_menu2.punkt_menu2_phone
      a.punkt_menu2_a(href='tel:+79812342323')
        span.punkt_menu2_a_span +1234567890
    li.punkt_menu2.punkt_menu2_scype
      a.punkt_menu2_a(href='skype:hiyoak?chat')
        span.punkt_menu2_a_span hiyoak