header.header
  .header_wrapp
    .cl
      img.logo(src='img/logo.png', alt='logotip')
      a.mini_menu(href='#')
        .mini_menu_line
      .icons
        a.noselect.icon.icon1(href='https://vk.com') vk
        a.noselect.icon.icon2(href='https://twitter.com/') twiiter
        a.noselect.icon.icon3(href='https://www.facebook.com/') facebook
        a.noselect.icon.icon4(href='https://github.com') github